body{
    font-family: 'Roboto', sans-serif;
}

.header--title{
    color:#31A5AC;
    font-family: 'Montserrat';
    font-size: 48px;
    font-weight: 700;
}
.image-height{
    min-height: 650px;
}
.bg-calculation{
    background-color: #F8F8F8;
}
.input-bg{
    background-color: #DCDCDC;
}

.show-text{
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 22px;
}
.button-text{
    font-size: 20;
    font-weight: 700;
}
label{
    font-size: 18px;
}

@media  (max-width:575px){
    .saving{
        padding: 5px 20px !important;
    }

    .grid-2-cols{
        display: grid;
        grid-template-columns: 100px auto;
    }
    .input-group.input-group-sm {
        width: 100px;
        position: absolute;
        left: -15px;
        top: -9px;
    }
    
    .col-sm-3.text-start {
        position: relative;
    }
    
}

@media (max-width:767px) {
    .image-height{
        min-height: auto;
    }
}