body{
    font-family: 'Roboto', sans-serif;
}

.header--title{
    color:#31A5AC;
    font-family: 'Montserrat';
    font-size: 48px;
    font-weight: 700;
}

.bg-calculation{
    background-color: #F8F8F8;
}
.input-bg{
    background-color: #DCDCDC;
}

.show-text{
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 22px;
}
.button-text{
    font-size: 20;
    font-weight: 700;
}
label{
    font-size: 18px;
}